<div class="">
  <div>
    <form
      [formGroup]="productForm"
      (ngSubmit)="addToProduct(productForm.value)"
    >
      <mat-form-field>
        <input formControlName="name" matInput placeholder="Name" />
      </mat-form-field>

      <mat-form-field>
        <input
          matInput
          formControlName="stock"
          type="number"
          placeholder="Stock"
        />
      </mat-form-field>

      <mat-form-field>
        <input
          matInput
          formControlName="price"
          type="number"
          placeholder="Price"
        />
      </mat-form-field>

      <mat-form-field>
        <mat-label>Category</mat-label>
        <mat-select formControlName="category">
          <mat-option
            *ngFor="let category of categories$ | async"
            [value]="category"
            >{{ category | uppercase }}</mat-option
          >
        </mat-select>
      </mat-form-field>

      <br />
      <app-dropzone (fileUrl)="fileUrl($event)"></app-dropzone>

      <button [disabled]="!productForm.valid" mat-stroked-button>Submit</button>
    </form>
  </div>
</div>
