<ion-header>
  <mat-toolbar color="warn">
    <mat-toolbar-row> </mat-toolbar-row>
    <mat-toolbar-row>Inventory</mat-toolbar-row>
  </mat-toolbar>
</ion-header>

<ion-content>
  <!-- Using angular material tab with dynamic height property -->
  <mat-tab-group color="warn" dynamicHeight>
    <mat-tab label="INV">
      <ng-template matTabContent>
        <app-sellerinv></app-sellerinv>
      </ng-template>
    </mat-tab>

    <mat-tab label="Menu Items" [disabled]="!(disable$ | async)">
      <!-- Using dish component template in dish tab -->
      <ng-template matTabContent>
        <app-dish></app-dish>
      </ng-template>
    </mat-tab>
    <mat-tab label="INV(ADMIN)" [disabled]="!(disable$ | async)">
      <!-- Using food component template in foods tab -->
      <app-food></app-food>
    </mat-tab>
    <mat-tab label="Categories" [disabled]="!(disable$ | async)">
      <ng-template matTabContent>
        <app-category></app-category>
      </ng-template>
    </mat-tab>
  </mat-tab-group>
</ion-content>
