* {
  font-family: 'Bellota Text', cursive;
}
table {
  //   width: 80;
  width: 350px;
  //   border: 1px solid black;
}

th {
  text-align: left;
  border: 1px solid black;
}

td {
  width: 30px;
  padding: 2px;
}
